@import '../../styles/shared.scss';

.Container {
  border-bottom: 1px solid silver;
  padding: 30px 10px;
  margin: 0 30px;

  @include media('>=laptop') {
    border: 0;
    position: relative;
    width: 100%;
  }

  a {
    display: block;
  }
}

.MediaContainer {
  display: none;

  @include media('>=tablet') {
    display: block;
    margin-bottom: 10px;
  }
  
  @include media('>=laptop') {
    border-bottom: 1px solid #fff;
    display: block;
    height: 100%;
    margin-bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  &:after {
    @include media('>=laptop') {
      content: '';
      display: block;
      background: transparentize(#000, 0.3);
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }
}

.MediaItem {
  @extend %MediaItem;
}

.ContentContainer {
  @include media('>=laptop') {
    padding: 20px;
    position: relative;
    z-index: 3;
  }
}

.Teaser {
  font-size: 14px;
  line-height: 120%;
  color: #525558;

  @include media('>=laptop') {
    color: #fff;
  }
}

.Time div {
  @include media('>=laptop') {
    color: #fff;
  }
}