@import '_reset';
@import '_variables';
@import '../../node_modules/include-media/dist/_include-media.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

%headline {
  font-family: 'Francois One', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  @extend %headline;
}