@import '../../styles/shared.scss';

.Title {
  @extend %headline;
  font-size: 24px;
  margin: 4px 0;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: $orange;
    }

    &:focus {
      @extend %focus;
    }

    @include media('>=laptop') {
      color: #fff;
    }
  }
}