@import '../../styles/shared.scss';

.PageContainer {
  margin: 40px auto;
  max-width: 80%;

  @include media('>=laptop') {
    max-width: 50%;
  }
}

.Title {
  margin: 0 0 10px;
}

.Content {
  font-size: 14px;
  line-height: 120%;

  @include media('>=tablet') {
    font-size: 18px;
    line-height: 140%;
  }
}